@use "../../../../app/styles/variables" as *;

.icon {
  path, rect {
    stroke: $gray-200;
    transition: stroke 0.1s ease-in-out;
  }

  &:hover {
    path, rect {
      stroke: $white;
    }
  }

  &.primary {
    path, rect {
      stroke: $primary-light;
    }
  }

  &.red {
    path, rect {
      stroke: $red;
    }
  }

  &.yellow {
    path, rect {
      stroke: $yellow;
    }
  }

  &.green {
    path, rect {
      stroke: $green;
    }
  }

  &.blue {
    path, rect {
      stroke: $blue;
    }
  }
}