// Use @space only for margins
$allowed-space-properties: (margin, margin-top, margin-right, margin-bottom, margin-left);

$default-spacing: (
  // identifier: {value / 16}rem
        0.25: calc(2 / 16),
        0.50: calc(4 / 16),
        0.75: calc(6 / 16),
        1: calc(8 / 16),
        1.25: calc(10 / 16),
        1.50: calc(12 / 16),
        1.75: calc(14 / 16),
        2: calc(16 / 16),
        2.50: calc(20 / 16),
        3: calc(24 / 16),
        4: calc(32 / 16),
        4.50: calc(36 / 16),
        5: calc(40 / 16),
        6: calc(48 / 16),
        8: calc(64 / 16),
        9: calc(72 / 16),
        10: calc(80 / 16),
        12: calc(96 / 16),
        15: calc(120 / 16),
        30: calc(240 / 16),
);

// You can change space in different screen sizes:
$extraSmallScreen-spacing: ();
$smallScreen-spacing: ();
$mediumScreen-spacing: ();
$normalScreen-spacing: ();
$largeScreen-spacing: ();
$extraLargeScreen-spacing: ();

// Mixin will automatically apply space according to each screen size
$spacing: (
        default: $default-spacing,
        extraSmallScreen: $extraSmallScreen-spacing,
        smallScreen: $smallScreen-spacing,
        mediumScreen: $mediumScreen-spacing,
        normalScreen: $normalScreen-spacing,
        largeScreen: $largeScreen-spacing,
        extraLargeScreen: $extraLargeScreen-spacing
);